@import './components/Utilities/Variables.scss';

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
textarea, select, input, button { 
	outline: none; 
}
body {
	margin: none;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Raleway', sans-serif !important;
}	
p,ul,li,span, a {
	font-family: 'Roboto', sans-serif !important;
}
strong { 
	font-weight: bold; 
}
html,body {
	margin: 0;
	padding: 0;
	height: 100%;
	background: $accent-color;
}

.container {
	width: 100%;
	min-height: 100%;
	position: relative;
	background: #fff;
}
.restrict {
	width: 1000px;
	margin: 0 auto;
}
.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none; 
}
.clear {
	clear: both;
}

.arrow {
  border: solid rgba(255,255,255,0.8);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
}
.arrow.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.arrow.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.arrow.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
.arrow.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}















